/*
COLOR SCHEME:
Dark Orange: #FF520D
BLUE: #0079E8
GOLD ORANGE: #FFAC00
DARK BLUE: #0035E8
TAN YELLOW: #FFDF6B
*/



body {
    background-color: none;
    color: #0079E8
}

#header{
    width:100%;
    background-color: none;
    min-height: 80px;
}

#header > h1 {
    margin:0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    transform: translateY(50%);
}
#nav {
    width:100%;
    background-color:#0035E8;
    min-height: 80px;
    font-family: 'Lato', sans-serif;
    height: auto;
}
#nav > ul {
    text-align: center;
    padding: 0;
    margin: 0;
    transform: translateY(50%)
}

#nav > ul > button {
    min-width: 120px;
    color: aliceblue;
    background-color: #FFAC00; 
    border: none;
    padding: 15px 32px;
    transition: background-color .25;
}
#nav > ul > button:hover {
    background-color: #FF520D; 
}
/*
    display:flex;
    background:#FFAC00;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}
*/
#middle-wrapper-width {
    display: flex;
    font-family: 'lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    
}
#middle-wrapper {
    
}
.side-by-side {
    display: flex;
}
#main-content-wrapper .image-content {
      text-align: center;
      margin-top: 50px;
      width: 50%;
}
.image-content > img {
    max-width: 200px;
    border-radius: 50%;
}

.image-content > h4 {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    color: #FFAC00;
}

.image-content > h4 > a:hover {
    color: #0079E8;
}
#aside-content-wrapper {
    background-color: plum;
    width: 20%;
}

footer {
    background-color: coral;
    margin:0;
}

footer > h1 {
    margin:0;
}