/*
COLOR SCHEME:
Dark Orange: #FFA433
BLUE: #0079E8
GOLD ORANGE: #FFAC00
DARK BLUE: #0035E8
TAN YELLOW: #FFDF6B
*/



body {
    background-color: none;
    color: #0079E8
}

#header{
    width:100%;
    background-color: none;
}

#header > h1 {
    margin:0;
}
#nav {
    widthe:100%;
    background-color:aqua;
}

.menu {
    display:flex;
    background:#c9dcec;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}

#middle-wrapper {
    display: flex;
}

#main-content-wrapper{
  background-color: greenyellow;
      width:80%;
}

#aside-content-wrapper {
    background-color: plum;
    width:20%;
}

footer {
    background-color: coral;
    margin:0;
}

footer > h1 {
    margin:0;
}